<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<table border="1">
    <p>hello</p>
    <form method="post" action="{{ url_for('regis') }}">
        {{ form.csrf_token }}
        <p>name : {{ form.name }} </p>
        <p>lastname : {{ form.last }} </p>
        <p> Email : {{ form.email }}</p>
        {% for error in form.email.errors %}
            <li style="color:red">{{ error }}</li>
        {% endfor %}
       <p>username : {{ form.username }} </p>
        <p>password : {{ form.password }} </p>
        {% for error in form.password.errors %}
            <li style="color:red">{{ error }}</li>
        {% endfor %}
        <input type="submit" value="Submit"/>

    </form>

</table>
</body>
</html>